body {
  background-color: black;
  color: rgb(167, 209, 41);
}

#navbar {
  background-color: rgb(62, 67, 46);
}

.nav-link {
  color: white;
  font-size: x-large;
}

.nav-pills .nav-link.active {
  color: white;
  background-color: black;
  font-size: x-large;
}

h1 {
  color: white;
}

#myphoto {
  border: 10px solid rgb(167, 209, 41);
  border-radius: 50%;
}

#myname {
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.lead {
  font-size: 1.5rem;
}

.hello {
  font-size: xxx-large;
}

.resumetext-h {
  font-size: xx-large;
  font-weight: bolder;
  color: black;
}

.grade {
  color: white;
  font-style: italic;
}
.resumetext {
  font-size: x-large;
}

#workexp {
  color: white;
}

.card-body {
  background-color: rgb(0, 0, 0);
  color: rgb(167, 209, 41);
  font-size: larger;
}
.btn-group {
  color: white;
}

.container .projects {
  margin-left: -40px;
  margin-right: -40px;
}

#featured-3 .feature-icon {
  border-radius: 10%;
  width: 70px;
  height: 70px;
  background-color: black;
}

#resume {
  background-color: rgb(62, 67, 46);
}
#project {
  background-color: rgb(97, 111, 57);
}

.fw-bold {
  font-size: xxx-large;
}

.text-body {
  color: white !important;
}

.container .footer {
  display: flex;
  justify-content: end !important;
  justify-content: space-evenly;
  margin-bottom: 45px;
}

.contactdetails {
  color: white;
  font-size: large;
}

.text-uppercase {
  font-size: x-large;
}

#github {
  padding-left: 20px;
}

.contactmain {
  color: rgb(167, 209, 41);
}

@media (max-width: 700px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  #aboutHead {
    font-size: 2em;
  }
}
